# ref:
# - https://developer.hashicorp.com/terraform/language/expressions/version-constraints
# - https://developer.hashicorp.com/terraform/language/providers/requirement
terraform {
  required_version = "~> ${terraform_version}"

  required_providers {
    local = {
      # ref: https://registry.terraform.io/providers/hashicorp/local/latest/docs
      source  = "hashicorp/local"
      version = "~> ${terraform_provider_local_version}"
    }
    null = {
      # ref: https://registry.terraform.io/providers/hashicorp/null/latest/docs
      source  = "hashicorp/null"
      version = "~> ${terraform_provider_null_version}"
    }
    random = {
      # ref: https://registry.terraform.io/providers/hashicorp/random/latest/docs
      source  = "hashicorp/random"
      version = "~> ${terraform_provider_random_version}"
    }
    external = {
      # ref: https://registry.terraform.io/providers/hashicorp/external/latest/docs
      source  = "hashicorp/external"
      version = "~> ${terraform_provider_external_version}"
    }
    assert = {
      # ref: https://registry.terraform.io/providers/hashicorp/assert/latest/docs
      source  = "hashicorp/assert"
      version = "~> ${terraform_provider_assert_version}"
    }
  }
}
